@import '~antd/dist/antd.less';
.WorkspaceView-root {
  display: flex;
  height: 100%;
}
.WorkspaceView-businessGroups {
  flex: 2;
  background-color: @background-color-base;
}
.WorkspaceView-workspaces {
  flex: 9;
  background-color: @background-color-base;
}
