@import '~antd/dist/antd.less';
.Header-root {
  display: flex;
  &.ant-layout-header {
    background-color: @background-color-base;
    border-color: @border-color-base;
    border-width: @border-width-base;
    border-bottom-style: @border-style-base;
  }
}
.Header-icon {
  font-size: 24px;
  margin: auto;
}
.Header-spacer {
  flex: 1;
}
.Header-logo {
  height: 100%;
  width: 200px;
  background: url('/logo.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
}
