@import '~antd/dist/antd.less';
.TableHeader-root {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  background: @background-color-base;
  border-radius: @border-radius-base;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: @border-style-base;
  border-bottom-width: @border-width-base;
  border-bottom-color: @border-color-base;
}
.TableHeader-col {
  width: 200px;
  flex: initial;
  margin: auto 0;
  padding: 0 @padding-md;
}
