.Filters-root {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.Filters-date {
  background: #000;
  flex: 1;
}
.Filters-policy {
  background: blue;
  flex: 1;
}
.Filters-search {
  background: red;
  flex: 1;
}
